body {
      color: white ;
	  font-size: 20px;
	  text-align:center;
	  border-style: solid;
	  border-width: 10px;
	  background-image: url("fondo.png");
	  background-color: black ;
	  background-size: cover;
	  border-radius: 20px;
}

img {
    border-style:solid;
	border-color: blue
	border-width: 10px;
	border-radius: 20px;
}
hi {
border-style: solid;
color: red;
border-width: 10px;
border-color: black;
border-radius: 20px;
}

ol {
    border-style: solid;
	color:black;
	border-color:red;
	border-width: 10px;
	border-radius: 20px;
}
	  